; {{ ansible_managed }}
{{ item.0 }}. IN DNSKEY {% if item.1 == 'ksk' %}257{% else %}256{%endif %} {{ bind_dnssec[item.0][item.1].digest }} {{ bind_dnssec[item.0][item.1].algorithm }} {{ bind_dnssec[item.0][item.1].public_key}}
